{% load static %}

<section class="about-us container section" id="about-us">
    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="{% static 'img/digital-1.png' %}" alt="profile" class="img-fluid rounded">
        </div>

        <div class="col-12 col-lg-6 py-4 pt-lg-0">
            <span class="d-inline-block rounded font-weight-bold activity-info my-2">
                درباره من
            </span>

            <h5 class="activity-name">
                تحصیلات و مهارت‌های حرفه‌ای
            </h5>

            <p class="text-justify about-us-text">
                دانش‌آموخته حوزه مهندسی کامپیوتر با تمرکز بر توسعه بک‌اند و طراحی سیستم‌های مقیاس‌پذیر.
                علاقه‌مند به معماری تمیز، بهینه‌سازی عملکرد و ساخت راهکارهای کاربردی برای مسائل واقعی.
            </p>

            <div class="row mt-4">

                <div class="col-12 col-md-6 d-flex py-2">
                    <i class="fas fa-graduation-cap pl-2 fa-lg"></i>
                    <h6 class="about-text font-weight-bold">
                        کارشناسی مهندسی کامپیوتر
                    </h6>
                </div>

                <div class="col-12 col-md-6 d-flex py-2">
                    <i class="fas fa-language pl-2 fa-lg"></i>
                    <h6 class="about-text font-weight-bold">
                        تسلط به زبان انگلیسی (مطالعه مستندات تخصصی)
                    </h6>
                </div>

                <div class="col-12 col-md-6 d-flex py-2">
                    <i class="fas fa-code pl-2 fa-lg"></i>
                    <h6 class="about-text font-weight-bold">
                        تمرکز بر توسعه Backend با Django
                    </h6>
                </div>

                <div class="col-12 col-md-6 d-flex py-2">
                    <i class="fas fa-database pl-2 fa-lg"></i>
                    <h6 class="about-text font-weight-bold">
                        طراحی و بهینه‌سازی پایگاه داده
                    </h6>
                </div>

            </div>
        </div>
    </div>
</section>
