{% load static %}
<footer class="footer">
<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-12 col-md-4 d-flex">
            <a href="https://github.com/adelghaedi" class="font-weight-bold footer-brand">
                <img src="{% static 'img/resume.png' %}" alt="logo">عادل قائدی
            </a>
        </div>
        <div class="col-12 col-md-4 my-4 my-md-0">
            <p class="footer-text">من را در شبکه های اجتماعی دنبال کنید</p>
            <div class="footer-icons">
                {% for social in socials %}
                    <a href="{{ social.address }}"><em class="{{ social.icon_class }}"
                                                       title="{{ social.title }}"></em></a>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-4">
            <h3 class="footer-title">تماس با من</h3>
            <p class="footer-text">{{ contact.address }}</p>
            <p class="footer-text">{{ contact.city }}</p>
            <p class="footer-text">{{ contact.phone }}</p>
            <p class="footer-email">{{ contact.email }}</p>
        </div>
    </div>
</div>
</footer>