{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- head -->
{% include 'includes/head_tags.html' %}


<!-- start nav -->
<body>
<section class="nav-head section">
    <nav class="navbar navbar-expand-md container">
        <!-- nav brand -->
        <a href="https://github.com/adelghaedi" class="navbar-brand font-weight-bold">
            <img src="{% static 'img/resume.png' %}" alt="">
            عادل قائدی
        </a>
        <!-- end nav brand -->
        <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#mynav"
                aria-controls="mynav"
                aria-expanded="false" aria-label="toggle-navigation">
        <span class="navbar-icon">
          <i class="fas fa-bars"></i>
        </span>
        </button>
        <div class="collapse navbar-collapse" id="mynav">
            <ul class="navbar-nav mx-auto">
                <a class="nav-link nav-item pr-3 home active-nav" data-text="خانه" href="#home">خانه</a>
                <a class="nav-link nav-item pr-3 skills" data-text="مهارت ها" href="#skills">مهارت ها</a>
                <a class="nav-link nav-item pr-3 about-us" data-text="درباره ما" href="#about-us">درباره من</a>
                <a class="nav-link nav-item pr-3 projects" data-text="پروژه ها" href="#projects">پروژه ها</a>
                <a class="nav-link nav-item pr-3 conect" data-text="تماس با ما" href="#conect"> تماس با من</a>
            </ul>
            <!-- login -->
            <button type="button" class="btn login-btn animate-btn" data-toggle="modal" data-target="#exampleModal">
                پروژه ای
                دارید؟
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">پروژه خود را ثبت کنید</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="myModalBody">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group py-5 py-lg-0">
                                    <input name="name" type="text" class="form-control my-2 form-box" required
                                           placeholder="نام..."
                                           id="InputName">
                                    <input name="email" type="email" class="form-control my-2 form-box" required
                                           placeholder="ایمیل..."
                                           id="InputEmail" aria-describedby="emailHelp">
                                    <input name="subject" type="text" class="form-control my-2 form-box"
                                           placeholder="موضوع..."
                                           id="InputName">
                                    <textarea name="body" id="message" class="my-2 w-100 form-box"
                                              placeholder="پیام..."></textarea>
                                    <div class="w-100 text-center">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn message-btn">ارسال پیام</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- end login -->
                </div>
            </div>
        </div>
    </nav>
</section>
<!-- end nav -->
<!-- start header -->
<section class="header-section " id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6 my-5">
                <div class="head-special">
                    <h3 class="rounded">سلام، من عادل هستم 👋</h3>
                </div>
                <div class="head-name">
                    <h1 class="head-name-resume">برنامه نویس بک اند</h1>
                </div>
                <div class="head-text">
                    <p class="text-justify">
                        من یک برنامه نویس با مسئولیت پذیری بالا و روحیه کار تیمی هستم.
                        به دنبال تجربیات جدید و چالش و خلاقیت هستم.
                    </p>
                </div>
                <div class="head-btn-group">
                    <a class="btn head-btn ml-2 d-none d-md-inline-block" href="#conect">تماس با ما</a>
                    <a class="btn head-btn d-none d-md-inline-block" href="#optionss">بیشتر بخون</a>
                </div>
            </div>
            <div class="col-md-10 col-lg-6">
                <img src="{% static 'img/image.png' %}" alt="img" class="img-fluid header-img">
            </div>
        </div>
    </div>
</section>
<!-- end header -->
<!-- shape -->
<div class="custom-shape-divider-top-1630509570">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"></path>
    </svg>
</div>
<!-- end shape -->
<!-- our skills -->
{% include 'includes/skill_tags.html' %}
<!-- end our skills -->
<!-- about me -->
{% include 'includes/about_tags.html' %}
<!-- end about me -->
<!-- projects -->
{% include 'includes/project_tags.html' %}
<!-- end projects -->
<!-- introduce -->
<!-- shape -->
<div class="custom-shape-divider-top-1630509570">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill-two"></path>
    </svg>
</div>
<!-- end shape -->
<!-- end introduce -->
<!-- conect us -->
{% include 'includes/message_form.html' %}
<!-- end conect us -->
<!-- footer -->
{% include 'includes/footer_tags.html' %}
<!-- end footer -->
<!-- scroll to top  -->
<a href="#" class="totop"><i class="fas fa-chevron-up"></i></a>

<div class="progress-section">
    <div class="progress-bar-wrap">
        <div class="progress-bar"></div>
    </div>
</div>

<!-- end progress bar -->

<!-- jquery -->
{% include 'includes/js_tags.html' %}
</body>

</html>